logs/
__pycache__/
*.failed
*.log
*.gtf
*.fasta
*.fa
*HoneyBadger*
*honeybadger*
*mous_DHS*
*mouseDHS*
*mm10_univ_dhs_ucsc*

celltype_specific_ml_models/FASTA/
celltype_specific_ml_models/FASTA_CV/
celltype_specific_ml_models/__pycache__/
celltype_specific_ml_models/figures/
celltype_specific_ml_models/logs/
celltype_specific_ml_models/ml_cnn
celltype_specific_ml_models/old_scripts/
celltype_specific_ml_models/rdas
celltype_specific_ml_models/gkmExplain/hyp_PVup_VAL_PVPOSvsPVNEG_B.txt
celltype_specific_ml_models/gkmExplain/imp_PVup_VAL_PVPOSvsPVNEG_B.txt
celltype_specific_ml_models/svm/
celltype_specific_ml_models/tables/fuma_causal_snp_scores_d1d2pv.csv

macaque_celltypes/

mouse_enrichment/ATACseqPipelineOutputs
mouse_enrichment/cromwell-workflow-logs
mouse_enrichment/mm10_univ_dhs_ucsc/
mouse_enrichment/logs/
mouse_enrichment/mouse_supplement/bed/
mouse_enrichment/mouse_supplement/bigWig/
mouse_enrichment/mouse_supplement/candidate_plots/
mouse_enrichment/mouse_supplement/configs/
mouse_enrichment/mouse_supplement/logs/
mouse_enrichment/mouse_supplement/loom/
mouse_enrichment/mouse_supplement/meanBigWig/
mouse_enrichment/mouse_supplement/tables/
mouse_enrichment/mouse_supplement/plots/
mouse_enrichment/mouse_supplement/rdas/
mouse_enrichment/old_scripts/
mouse_enrichment/slurm*
mouse_enrichment/tables/

genomeTracks/BED/
genomeTracks/config/old_configs/
genomeTracks/gene_tracks/
genomeTracks/GTEX_Analysis_v8_eQTL
genomeTracks/old_scripts/
genomeTracks/rdas/
genomeTracks/snp_plots/

gwas_correlation/logs/
gwas_correlation/rdas/
gwas_correlation/.na(dfCor$rg))

gwas_enrichment/causaldb_credible_set/
gwas_enrichment/enhancers/
gwas_enrichment/gwas_sumstats
gwas_enrichment/notebook-log-49909.txt
gwas_enrichment/other_scripts
gwas_enrichment/tables/fuma_addiction_snps.txt
gwas_enrichment/tables/haploreg_addiction_snps.txt
gwas_enrichment/tables/Sup_Table1_Addiction_SNP_annotations_table.xlsx
gwas_enrichment/PDF
gwas_enrichment/presentation*


gwas_enrichment_control_foreground/Controls_EUR/
gwas_enrichment_control_foreground/human/supplemental_figure_1.R
gwas_enrichment_control_foreground/mouse/supplemental_figure_1.R

model_prioritized_fullard_enrichments/gene_tracks/
model_prioritized_fullard_enrichments/genomeTracks/
model_prioritized_fullard_enrichments/FASTA/
model_prioritized_fullard_enrichments/logs/
model_prioritized_fullard_enrichments/old_scripts/
model_prioritized_fullard_enrichments/plots/

GEO_Srinivasan_Phan_2021/
