[jobinfo]
created_at = 2019-12-18 18:31:39
title = Cannabis

[version]
FUMA = v1.3.5e
MAGMA = v1.07
GWAScatalog = e96_r2019-09-24
ANNOVAR = 2017-07-17

[inputfiles]
gwasfile = Cannabis_ICC_UKB.txt.gz
chrcol = NA
poscol = NA
rsIDcol = NA
pcol = NA
eacol = NA
neacol = NA
orcol = NA
becol = NA
secol = NA
leadSNPsfile = NA
addleadSNPs = 1
regionsfile = NA

[params]
N = NA
Ncol = N
exMHC = 1
MHCopt = annot
extMHC = NA
ensembl = v92
genetype = protein_coding
leadP = 5e-8
gwasP = 0.05
r2 = 0.6
r2_2 = 0.1
refpanel = 1KG/Phase3
pop = EUR
MAF = 0
refSNPs = 1
mergeDist = 250

[magma]
magma = 1
magma_window = 0
magma_exp = GTEx/v8/gtex_v8_ts_avg_log2TPM:GTEx/v8/gtex_v8_ts_general_avg_log2TPM

[posMap]
posMap = 1
posMapWindowSize = 10
posMapAnnot = NA
posMapCADDth = 0
posMapRDBth = NA
posMapChr15 = NA
posMapChr15Max = NA
posMapChr15Meth = NA
posMapAnnoDs = NA
posMapAnnoMeth = NA

[eqtlMap]
eqtlMap = 0
eqtlMaptss = NA
eqtlMapSig = 1
eqtlMapP = 1
eqtlMapCADDth = 0
eqtlMapRDBth = NA
eqtlMapChr15 = NA
eqtlMapChr15Max = NA
eqtlMapChr15Meth = NA
eqtlMapAnnoDs = NA
eqtlMapAnnoMeth = NA

[ciMap]
ciMap = 0
ciMapBuiltin = NA
ciMapFileN = 0
ciMapFiles = NA
ciMapFDR = NA
ciMapPromWindow = NA
ciMapRoadmap = NA
ciMapEnhFilt = 0
ciMapPromFilt = 0
ciMapCADDth = 0
ciMapRDBth = NA
ciMapChr15 = NA
ciMapChr15Max = NA
ciMapChr15Meth = NA
ciMapAnnoDs = NA
ciMapAnnoMeth = NA

